<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto: ejikechidi33@gmail.com">ejikechidi33@gmail.com</a>*@
        <custom-email my-email="ejikechidi33@gmail.com"></custom-email>


    </div>
</footer>